<mat-card class="mt-20">
  <mat-card-title>Place</mat-card-title>
  <hr>

  <mat-card-content>
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutWrap="wrap">
      <div class="parking-container" fxFlex.gt-xs="50%" fxFlex.gt-md="25%" *ngFor="let pla of place; let idpark of idparking" >
          Numero :{{pla.Numero}}<br>
          Reservable : Oui<br>
          Disponible : Oui<br>
          Parking : {{pla.parkingId}}<br>
        <div class="action-button">
          <button mat-raised-button color="primary"  [routerLink]="['/place/'+ idparking +'/' + pla.Numero + '/reserver']">Reserver</button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-paginator [length]="pageLength"
              [pageSize]="pageSize"
              [pageSizeOptions]="[5]"
              (page)="pageEvent($event)">
</mat-paginator>