
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>SenParking</span>
    <span class="qa-spacer"></span>
    <button mat-button [routerLink]="['.']"><mat-icon>home</mat-icon>Accueil</button>
    <button mat-button [routerLink]="['./inscription']" *ngIf ="!isLoggedIn"><mat-icon>create</mat-icon>Inscription</button>
    <button mat-button [routerLink]="['./connexion']" *ngIf ="!isLoggedIn"><mat-icon>person</mat-icon>Connexion</button>
    <button mat-button [routerLink]="['./']" *ngIf ="isLoggedIn" (click)="loggout()"><mat-icon>logout</mat-icon>Déconnexion</button>
    <button mat-button [routerLink]="['./parking']"><mat-icon>local_parking</mat-icon>arking</button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="base_container">
  <router-outlet (activate)="routeChanged()"></router-outlet>
</div>

<agm-map [latitude]="14.676702" [longitude]="-17.466167" title="Terrou">
<agm-marker[latitude]="14.676702" [longitude]="-17.466167">
</agm-map>

<agm-map [latitude]="latterrou" [longitude]="lngterrou" title="Terrou">
  <agm-marker[latitude]="latterrou" [longitude]="lngterrou">
</agm-map>


 <!--latradisson =  14.695815;
  lngradisson = -17.472974;
  latrenaissance = 14.72246;
  lngrenaissance = -17.494923;
  latterrou = 14.676702;
  lngterrou =  -17.466167;-->
  