//centrer le base container(router outlet, tjrs centrer la page)
.base_container {
  padding: 5px;
  width: 85%;
  margin: 0 auto;
}

//decalage des bouttons du menu completement a droite
.qa-spacer {
  flex: 1 1 auto;
}
agm-map {
  height: 600px;
}