<mat-card class="mt-20">
  <mat-card-title>Connexion </mat-card-title>
  <hr>

  <mat-card-content>
    <div fxLayout="Column wrap">
      <mat-form-field>
        Login : <input matInput placeholder="Saisssez votre e-mail " name ="email" [(ngModel)]="email" required> 
      </mat-form-field>
    <mat-form-field>
      Password: <input matInput type="password" placeholder="Saisssez votre mot de passe" name="password" [(ngModel)]="password" required>
    </mat-form-field>
     
<button mat-raised-button color="primary" (click)="login()">Se Connecter </button>
    </div>
  </mat-card-content>
</mat-card>