<mat-card class="mt-20">
  <mat-card-title>Reservation </mat-card-title>
  <hr>

  <mat-card-content>
    <div fxLayout="Column wrap">
      Si vous ne speciez pas  de date de debut , la reservation commence aujourdhui <br>
      <mat-form-field>
        Début réservation:
        <input matInput type="date" placeholder="date fin" date debut=" " name="ddebut" [(ngModel)]="ddebut" >
      </mat-form-field>
      <mat-form-field>
        Fin réservation:
        <input matInput type="date" placeholder="date fin" name="dfin" [(ngModel)]="dfin" required>
      </mat-form-field>

<button mat-raised-button color="primary" (click)="reserver()">Confirmer Reservation </button>
    </div>
  </mat-card-content>
</mat-card>