<mat-card class="mt-20">
  <mat-card-title>Parkings</mat-card-title>
  <hr>

  <mat-card-content>
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutWrap="wrap">
      <div class="parking-container" fxFlex.gt-xs="50%" fxFlex.gt-md="25%" *ngFor="let park of parking">
        Nom: {{park.Nom}}<br>
        Adresse : {{park.adresse}} <br>
        Heure ouverture: 8 pm <br>
        Heure fermeture: 24 pm <br>
        Nombre de place libre: {{park.NombrePlaceLibre}} <br>
        {{ park.Nom}}
        <div class="action-button">
<button mat-raised-button color="primary" [routerLink]="['/parking/'+ park.Nom + '/place/']" *ngIf ="isLoggedIn">Reserver une place</button>
        </div>  
      </div>
    </div>
  </mat-card-content>
</mat-card>